/* body {
   background-color: #7bdaf3;
   
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding-top: 3rem;
 }
  */

 .notes-container {
   margin-top: 20px;
}
.note {
   border: 1px solid #ccc;
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
}
.note h2 {
   margin: 0;
}
.note h3 {
   margin: 5px 0 0;
   color: #666;
}